<html>
<head> <h1>Hi user</h1></head><br><br>
<body>
    <form action="/veri" method="post">
    Username : <input type="text" name="user1">
    Password :<input type="password" name="Password">
    <input type="submit" value="Submit" >
    <p>{{msg}}</p>
    </form>
    </body>
</html>